In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('development_dataset.csv')
print(train.shape)
train.head(5)

(34000, 21)

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,...,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20,VAR21
0,1,828.235294,0.138889,321.428571,625.911006,1.818182,1.081550,198.113469,NaN,58.632548,...,100.083403,1.0,1,1.0,1.540594,NaN,1,0,100.104991,Low
1,2,911.764706,0.027778,NaN,611.574748,8.181818,1.344479,198.600020,22.086661,NaN,...,15.012510,NaN,1,NaN,1.614613,NaN,0,1,146.654045,High
2,3,962.352941,0.833333,35.714286,615.825381,8.181818,0.720796,197.267767,NaN,58.632548,...,210.175146,10.0,1,10.0,1.044599,NaN,0,0,98.249570,Medium
3,4,892.941177,NaN,NaN,638.076431,9.090909,0.820218,197.355744,4.363431,58.632548,...,NaN,NaN,1,NaN,1.145729,NaN,1,0,140.862306,Low
4,5,914.117647,0.083333,NaN,626.514988,5.181818,1.372928,198.790477,85.938202,58.632548,...,210.175146,NaN,.,NaN,1.558341,NaN,1,0,101.268503,High

In [3]:
# train.describe()

In [4]:
# train.info()

In [5]:
train.isnull().sum()

VAR1         0
VAR2       961
VAR3      3385
VAR4     12494
VAR5         1
VAR6      3495
VAR7       835
VAR8       835
VAR9     15817
VAR10     4550
VAR11     7565
VAR12    10502
VAR13     8522
VAR14        0
VAR15     8024
VAR16      866
VAR17    22194
VAR18        0
VAR19        0
VAR20        0
VAR21        0
dtype: int64

In [6]:
# hg = train[train['VAR21']=="High"]
# lw = train[train['VAR21']=="Low"]
# md = train[train['VAR21']=="Medium"]

In [7]:
# hg = hg.fillna(value = hg.median(axis=0))
# lw = lw.fillna(value = lw.median(axis=0))
# md = md.fillna(value = md.median(axis=0))

In [8]:
targets = train.VAR21
train.drop(['VAR21','VAR1'], 1, inplace=True)
# train.head(5)

In [9]:
# train1 = pd.concat([hg,lw,md],axis = 0)
# train1.drop(['VAR21','VAR1'], 1, inplace=True)

train1 = train.copy()
# train1.drop(['VAR16'], 1, inplace=True)
train1.shape

(34000, 19)

In [10]:
# train1['VAR2'] = train['VAR2'].apply(lambda x:hg.median if np.isnan(train['VAR21']))

In [11]:
train1['VAR2'] = train['VAR2'].fillna(train['VAR2'].mean())
train1['VAR3'] = train['VAR3'].fillna(train['VAR3'].mean())
train1['VAR4'] = train['VAR4'].fillna(train['VAR4'].mean())
train1['VAR5'] = train['VAR5'].fillna(train['VAR5'].mean())
train1['VAR6'] = train['VAR6'].fillna(train['VAR6'].mean())
train1['VAR7'] = train['VAR7'].fillna(train['VAR7'].mean())
train1['VAR8'] = train['VAR8'].fillna(train['VAR8'].mean())
train1['VAR9'] = train['VAR9'].fillna(train['VAR9'].mean())
train1['VAR10'] = train['VAR10'].fillna(train['VAR10'].mean())
train1['VAR11'] = train['VAR11'].fillna(train['VAR11'].mean())
train1['VAR12'] = train['VAR12'].fillna(train['VAR12'].mean())
train1['VAR13'] = train['VAR13'].fillna(train['VAR13'].mean())
train1['VAR15'] = train['VAR15'].fillna(train['VAR15'].mean())
train1['VAR16'] = train['VAR16'].fillna(train['VAR16'].mean())

train1['VAR17'] = train['VAR2'].fillna(0)

In [12]:
# train1.isnull().sum()
train1.corr()

,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,VAR13,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20
VAR2,1.000000,0.001879,-0.397545,-0.195492,0.023098,-0.027322,-0.048693,-0.003918,0.041271,-0.150661,0.118147,0.114004,0.087309,-0.023998,0.309621,0.062120,-0.064318,-0.102319
VAR3,0.001879,1.000000,-0.004998,0.006797,0.022159,0.018803,0.025247,0.004422,-0.000101,0.008518,0.048590,0.017544,0.016024,0.015949,0.009124,0.012330,0.004281,0.017665
VAR4,-0.397545,-0.004998,1.000000,0.185846,-0.018649,0.014257,0.058680,0.011053,-0.028000,0.176840,-0.066965,-0.063954,-0.035064,0.014573,-0.103223,-0.029444,0.093717,0.043684
VAR5,-0.195492,0.006797,0.185846,1.000000,0.026677,0.074837,0.201294,0.090140,0.136549,0.072784,-0.045739,-0.044625,-0.032263,0.066414,-0.076646,0.034296,-0.130858,0.229491
VAR6,0.023098,0.022159,-0.018649,0.026677,1.000000,0.092036,0.127485,-0.014076,0.118274,0.042100,0.018588,0.102917,0.093821,0.072649,0.027200,0.047276,0.079450,0.070031
VAR7,-0.027322,0.018803,0.014257,0.074837,0.092036,1.000000,0.701303,-0.025156,-0.032473,0.060242,-0.005230,0.061738,0.059955,0.924215,0.006597,0.024590,0.114990,0.111858
VAR8,-0.048693,0.025247,0.058680,0.201294,0.127485,0.701303,1.000000,-0.016594,-0.058250,0.120941,0.001239,0.094129,0.095660,0.492295,0.005295,0.040728,0.165046,0.165873
VAR9,-0.003918,0.004422,0.011053,0.090140,-0.014076,-0.025156,-0.016594,1.000000,0.109341,-0.006538,0.007833,0.004947,0.002758,-0.023838,-0.033598,0.004965,-0.169191,-0.022617
VAR10,0.041271,-0.000101,-0.028000,0.136549,0.118274,-0.032473,-0.058250,0.109341,1.000000,-0.021581,0.013585,-0.008188,-0.011772,-0.024995,-0.035731,0.017564,-0.202767,-0.019097
VAR11,-0.150661,0.008518,0.176840,0.072784,0.042100,0.060242,0.120941,-0.006538,-0.021581,1.000000,0.022742,0.479659,0.637683,0.045171,-0.031293,0.023426,0.069902,0.068364
VAR12,0.118147,0.048590,-0.066965,-0.045739,0.018588,-0.005230,0.001239,0.007833,0.013585,0.022742,1.000000,0.072593,0.070373,-0.007469,0.210880,0.066106,0.028444,-0.057543
VAR13,0.114004,0.017544,-0.063954,-0.044625,0.102917,0.061738,0.094129,0.004947,-0.008188,0.479659,0.072593,1.000000,0.864152,0.048292,0.038099,0.050780,0.062440,0.025875
VAR15,0.087309,0.016024,-0.035064,-0.032263,0.093821,0.059955,0.095660,0.002758,-0.011772,0.637683,0.070373,0.864152,1.000000,0.046755,0.034323,0.048115,0.067781,0.029815
VAR16,-0.023998,0.015949,0.014573,0.066414,0.072649,0.924215,0.492295,-0.023838,-0.024995,0.045171,-0.007469,0.048292,0.046755,1.000000,0.005053,0.019835,0.097255,0.095318
VAR17,0.309621,0.009124,-0.103223,-0.076646,0.027200,0.006597,0.005295,-0.033598,-0.035731,-0.031293,0.210880,0.038099,0.034323,0.005053,1.000000,0.002091,0.062148,0.017701
VAR18,0.062120,0.012330,-0.029444,0.034296,0.047276,0.024590,0.040728,0.004965,0.017564,0.023426,0.066106,0.050780,0.048115,0.019835,0.002091,1.000000,0.028553,0.098638
VAR19,-0.064318,0.004281,0.093717,-0.130858,0.079450,0.114990,0.165046,-0.169191,-0.202767,0.069902,0.028444,0.062440,0.067781,0.097255,0.062148,0.028553,1.000000,0.092336
VAR20,-0.102319,0.017665,0.043684,0.229491,0.070031,0.111858,0.165873,-0.022617,-0.019097,0.068364,-0.057543,0.025875,0.029815,0.095318,0.017701,0.098638,0.092336,1.000000

In [943]:
target = targets.copy()
j=0
# target=[]
for i in range(targets.shape[0]):
    if targets[i] == 'High':
        target[j] = 1
    elif targets[i] == 'Medium':
        target[j] = 0
    elif targets[i] == 'Low':
        target[j] = -1
    j+=1
# target=target.astype(â€˜intâ€™)  
# target
# targets.unique()

In [944]:
# train1.dtypes

In [945]:
# train1.VAR14.unique()

In [946]:
train1["VAR14"] = train1["VAR14"].apply(lambda x: int(x) if x!="." else 1)

# for i in range(train1.VAR14.shape[0]):
#     if train1.VAR14[i] == '.':
#         train1.VAR14[i] = '1'

In [947]:
# train1.VAR14.unique()

In [948]:
import numpy as np
from sklearn.model_selection import train_test_split

# train1 = train1.toarray()
X_train,X_test,y_train,y_test = train_test_split(train1.values,target.values,test_size=0.2)
print(X_train.shape,X_test.shape)
# X_train[0]

(27200, 19) (6800, 19)

In [949]:
# train1.drop(['VAR21','VAR1'], 1, inplace=True)

# import seaborn as sns
# print(train1.corr())

In [950]:
y_train = np.asarray(y_train,dtype=np.float64)
y_test = np.asarray(y_test,dtype=np.float64)

In [951]:
train1 = np.asarray(train1.values,dtype=np.float64)
target = np.asarray(target.values,dtype=np.float64)

In [952]:

from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)
predictions_LR = logisticRegr.predict(X_test)

# from sklearn.metrics import confusion_matrix
# cm_LR = confusion_matrix(target, predictions_LR)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions_LR))

c:\users\sarthak\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\sarthak\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.5520588235294117

In [953]:
from sklearn.neural_network import MLPClassifier
neural_network = MLPClassifier(solver='adam', alpha=0.0001, hidden_layer_sizes=(7, 7), random_state=1)
neural_network.fit(X_train, y_train)
predictions_NN = neural_network.predict(X_test)

#Confusion Matrix 
cm_NN = confusion_matrix(y_test, predictions_NN)
print(accuracy_score(y_test, predictions_NN))

0.5652941176470588

c:\users\sarthak\appdata\local\programs\python\python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [954]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100,  criterion="gini", max_depth=100, random_state=0)

# rf.fit(train1,target)
# predictions_RF = rf.predict(train1)

# cm_RF = confusion_matrix(target, predictions_RF)
# print(accuracy_score(target, predictions_RF))

rf.fit(X_train, y_train)
predictions_RF = rf.predict(X_test)

#Confusion Matrix 
cm_RF = confusion_matrix(y_test, predictions_RF)
print(accuracy_score(y_test, predictions_RF))

0.5695588235294118

In [955]:
# from sklearn.naive_bayes import MultinomialNB
# multi_naive_bayes = MultinomialNB()
# multi_naive_bayes.fit(X_train, y_train)
# predictions_MNB = multi_naive_bayes.predict(X_test)

# #Confusion Matrix 
# cm_MNB = confusion_matrix(y_test, predictions_MNB)
# print(accuracy_score(y_test, predictions_MNB))

In [956]:
# from sklearn.metrics import f1_score

In [957]:
from sklearn.svm import LinearSVC

svc = LinearSVC(dual=False)
svc.fit(X_train, y_train)
predictions_SVC = svc.predict(X_test)

#Confusion Matrix 
cm_SVC = confusion_matrix(y_test, predictions_SVC)
print(accuracy_score(y_test, predictions_SVC))

0.553235294117647

In [958]:
# from keras.models import Sequential
# from keras.layers import Dense, Activation, Dropout

# model = Sequential()
# model.add(Dense(12, input_dim=19, activation='relu'))
# model.add(Dense(8, activation='relu'))
# model.add(Dense(1, activation='sigmoid'))

# model.compile(loss='mse', optimizer='nadam', metrics=['accuracy'])

# model.fit(X_train, y_train, epochs=4, batch_size=10)
# _, accuracy = model.evaluate(X_test, y_test)
# print('Accuracy: %.2f' % (accuracy*100))

In [959]:
# from keras.layers import Embedding

# model1=Sequential()
# model1.add(Embedding(2000,100,mask_zero=True))
# model1.add(LSTM(64,return_sequences=True))
# model1.add(LSTM(32,return_sequences=False))
# model1.add(Dense(1,activation='softmax'))
# # model1.compile(loss='categorical_crossentropy',optimizer=Adam(lr=0.001),metrics=['accuracy'])

# # model = build_model()
# model1.compile(loss="binary_crossentropy", optimizer="nadam", metrics=["acc"])
# model1.fit(X_train, y_train, epochs=2, batch_size=100)
# _, accuracy = model1.evaluate(X_test, y_test)
# print('Accuracy: %.2f' % (accuracy*100))

In [1005]:
from xgboost import XGBClassifier
XG = XGBClassifier( max_depth = 5,
                    min_child_weight = 1,
                    gamma=0.06,
                    subsample=0.8)   #max_depth = 5 ##max_depth = 5, min_child_weight = 1,gamma=0.06, subsample=0.8


#                   colsample_bytree =0.6,
#                   learning_rate =0.1,
#                   n_estimators=100,
#                   objective= 'binary:logistic',
#                   nthread=6,
#                   scale_pos_weight=1)

# XG.fit(train1, target)
XG.fit(X_train, y_train)

predictions = XG.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
#print("F1_score: {}".format(f1_score(y_test,predictions)))

Accuracy: 58.51%

In [923]:
# print("F1_score: {}".format(f1_score(y_test,predictions,labels=[0,1,2],average="micro")))

In [1015]:
test1 = pd.read_csv('leaderboard_dataset.csv')
test1.head()

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20
0,1,878.823529,0.833333,821.428571,620.835806,5.181818,0.833974,197.500187,NaN,58.632548,9.433609,40.033361,10.000000,2,10.000000,1.212784,1000.00,1,0,48.099828
1,2,891.764706,0.138889,357.142857,614.092215,3.909091,0.595187,197.016843,253.896073,58.632548,10.144612,NaN,5.666667,1,7.600000,1.004907,992.55,0,0,104.018933
2,3,955.294118,0.055556,NaN,611.574748,6.363636,0.918652,197.660051,22.086661,NaN,0.583494,NaN,6.000000,1,6.000000,1.157115,NaN,1,1,120.586919
3,4,831.764706,0.111111,250.000000,617.740617,6.545455,2.383924,200.526288,NaN,48.539365,NaN,NaN,NaN,3,NaN,2.350858,NaN,0,1,168.592083
4,5,957.647059,0.166667,NaN,623.426802,NaN,0.711240,197.151458,5.013668,49.379748,0.255712,NaN,13.333333,1,13.333333,1.171551,NaN,0,1,109.204819

In [1016]:
test1.drop(['VAR1'], 1, inplace=True)
test1.isnull().sum()

VAR2      267
VAR3      937
VAR4     3686
VAR5        0
VAR6     1058
VAR7      215
VAR8      215
VAR9     4701
VAR10    1348
VAR11    2231
VAR12    3201
VAR13    2493
VAR14       0
VAR15    2359
VAR16     229
VAR17    6543
VAR18       0
VAR19       0
VAR20       0
dtype: int64

In [1017]:
test1['VAR2'] = test1['VAR2'].fillna(test1['VAR2'].mean())
test1['VAR3'] = test1['VAR3'].fillna(test1['VAR3'].mean())
test1['VAR4'] = test1['VAR4'].fillna(test1['VAR4'].mean())
# train1['VAR5'] = train['VAR5'].fillna(train['VAR5'].mean())
test1['VAR6'] = test1['VAR6'].fillna(test1['VAR6'].mean())
test1['VAR7'] = test1['VAR7'].fillna(test1['VAR7'].mean())
test1['VAR8'] = test1['VAR8'].fillna(test1['VAR8'].mean())
test1['VAR9'] = test1['VAR9'].fillna(test1['VAR9'].mean())
test1['VAR10'] = test1['VAR10'].fillna(test1['VAR10'].mean())
test1['VAR11'] = test1['VAR11'].fillna(test1['VAR11'].mean())
test1['VAR12'] = test1['VAR12'].fillna(test1['VAR12'].mean())
test1['VAR13'] = test1['VAR13'].fillna(test1['VAR13'].mean())
test1['VAR15'] = test1['VAR15'].fillna(test1['VAR15'].mean())
test1['VAR16'] = test1['VAR16'].fillna(test1['VAR16'].mean())

test1['VAR17'] = test1['VAR2'].fillna(0)

In [1018]:
test1["VAR14"] = test1["VAR14"].apply(lambda x: int(x) if x!="." else 1)

# for i in range(test1.VAR14.shape[0]):
#     if test1.VAR14[i] == '.':
#         test1.VAR14[i] = '1'

In [1019]:
test1 = np.asarray(test1.values,dtype=np.float64)

In [1020]:
predictions = XG.predict(test1)
print(predictions)

[ 0. -1.  0. ...  0.  0.  0.]

In [1021]:
import io

count=1
with io.open('Sting_IITKanpur_2.csv', 'w') as writeFile:
    
    for i in predictions:
        if i==-1:
            writeFile.write(str(count)+',Low,\n')
        elif i==0:
            writeFile.write(str(count)+',Medium,\n')
        elif i==1:
            writeFile.write(str(count)+',High,\n')
        count+=1

            
writeFile.close()

In [1011]:
evaluation = pd.read_csv("Evaluation_dataset.csv")
evaluation.drop(['VAR1'], 1, inplace=True)
evaluation.isnull().sum()
# temp = pd.read_csv("Sting_IITKanpur_2.csv")

VAR2      250
VAR3      976
VAR4     3603
VAR5        0
VAR6     1012
VAR7      244
VAR8      244
VAR9     4654
VAR10    1371
VAR11    2216
VAR12    3110
VAR13    2494
VAR14       0
VAR15    2341
VAR16     251
VAR17    6523
VAR18       0
VAR19       0
VAR20       0
dtype: int64

In [1012]:
evaluation['VAR2'] = evaluation['VAR2'].fillna(train['VAR2'].mean())
evaluation['VAR3'] = evaluation['VAR3'].fillna(train['VAR3'].mean())
evaluation['VAR4'] = evaluation['VAR4'].fillna(train['VAR4'].mean())
# train1['VAR5'] = train['VAR5'].fillna(train['VAR5'].mean())
evaluation['VAR6'] = evaluation['VAR6'].fillna(train['VAR6'].mean())
evaluation['VAR7'] = evaluation['VAR7'].fillna(train['VAR7'].mean())
evaluation['VAR8'] = evaluation['VAR8'].fillna(train['VAR8'].mean())
evaluation['VAR9'] = evaluation['VAR9'].fillna(train['VAR9'].mean())
evaluation['VAR10'] = evaluation['VAR10'].fillna(train['VAR10'].mean())
evaluation['VAR11'] = evaluation['VAR11'].fillna(train['VAR11'].mean())
evaluation['VAR12'] = evaluation['VAR12'].fillna(train['VAR12'].mean())
evaluation['VAR13'] = evaluation['VAR13'].fillna(train['VAR13'].mean())
evaluation['VAR15'] = evaluation['VAR15'].fillna(train['VAR15'].mean())
evaluation['VAR16'] = evaluation['VAR16'].fillna(train['VAR16'].mean())

evaluation['VAR17'] = evaluation['VAR2'].fillna(0)
# temp['Medium'].value_counts()
# for i in range(temp.shape[0]):
#     if temp[i]

In [1013]:
evaluation["VAR14"] = evaluation["VAR14"].apply(lambda x: int(x) if x!="." else 1)
evaluation = np.asarray(evaluation.values,dtype=np.float64)
predictions1 = XG.predict(evaluation)

In [1014]:
import io

count=1
with io.open('Sting_IITKanpur1.csv', 'w') as writeFile:
    
    for i in predictions1:
        if i==-1:
            writeFile.write(str(count)+',Low,\n')
        elif i==0:
            writeFile.write(str(count)+',Medium,\n')
        elif i==1:
            writeFile.write(str(count)+',High,\n')
        count+=1

            
writeFile.close()