In [763]:
import pandas as pd

In [764]:
train = pd.read_csv('development_dataset.csv')
print(train.shape)
train.head(5)

(34000, 21)

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,...,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20,VAR21
0,1,828.235294,0.138889,321.428571,625.911006,1.818182,1.081550,198.113469,NaN,58.632548,...,100.083403,1.0,1,1.0,1.540594,NaN,1,0,100.104991,Low
1,2,911.764706,0.027778,NaN,611.574748,8.181818,1.344479,198.600020,22.086661,NaN,...,15.012510,NaN,1,NaN,1.614613,NaN,0,1,146.654045,High
2,3,962.352941,0.833333,35.714286,615.825381,8.181818,0.720796,197.267767,NaN,58.632548,...,210.175146,10.0,1,10.0,1.044599,NaN,0,0,98.249570,Medium
3,4,892.941177,NaN,NaN,638.076431,9.090909,0.820218,197.355744,4.363431,58.632548,...,NaN,NaN,1,NaN,1.145729,NaN,1,0,140.862306,Low
4,5,914.117647,0.083333,NaN,626.514988,5.181818,1.372928,198.790477,85.938202,58.632548,...,210.175146,NaN,.,NaN,1.558341,NaN,1,0,101.268503,High

In [765]:
# train.describe()

In [766]:
# train.info()

In [767]:
train.isnull().sum()

VAR1         0
VAR2       961
VAR3      3385
VAR4     12494
VAR5         1
VAR6      3495
VAR7       835
VAR8       835
VAR9     15817
VAR10     4550
VAR11     7565
VAR12    10502
VAR13     8522
VAR14        0
VAR15     8024
VAR16      866
VAR17    22194
VAR18        0
VAR19        0
VAR20        0
VAR21        0
dtype: int64

In [768]:
# hg = train[train['VAR21']=="High"]
# lw = train[train['VAR21']=="Low"]
# md = train[train['VAR21']=="Medium"]

In [769]:
# hg = hg.fillna(value = hg.median(axis=0))
# lw = lw.fillna(value = lw.median(axis=0))
# md = md.fillna(value = md.median(axis=0))

In [770]:
targets = train.VAR21
train.drop(['VAR21','VAR1'], 1, inplace=True)
# train.head(5)

In [771]:
# train1 = pd.concat([hg,lw,md],axis = 0)
# train1.drop(['VAR21','VAR1'], 1, inplace=True)

train1 = train.copy()
# train1.drop(['VAR16'], 1, inplace=True)
train1.shape

(34000, 19)

In [772]:
# train1['VAR2'] = train['VAR2'].apply(lambda x:hg.median if np.isnan(train['VAR21']))

In [773]:
train1['VAR2'] = train['VAR2'].fillna(train['VAR2'].mean())
train1['VAR3'] = train['VAR3'].fillna(train['VAR3'].mean())
train1['VAR4'] = train['VAR4'].fillna(train['VAR4'].mean())
train1['VAR5'] = train['VAR5'].fillna(train['VAR5'].mean())
train1['VAR6'] = train['VAR6'].fillna(train['VAR6'].mean())
train1['VAR7'] = train['VAR7'].fillna(train['VAR7'].mean())
train1['VAR8'] = train['VAR8'].fillna(train['VAR8'].mean())
train1['VAR9'] = train['VAR9'].fillna(train['VAR9'].mean())
train1['VAR10'] = train['VAR10'].fillna(train['VAR10'].mean())
train1['VAR11'] = train['VAR11'].fillna(train['VAR11'].mean())
train1['VAR12'] = train['VAR12'].fillna(train['VAR12'].mean())
train1['VAR13'] = train['VAR13'].fillna(train['VAR13'].mean())
train1['VAR15'] = train['VAR15'].fillna(train['VAR15'].mean())
train1['VAR16'] = train['VAR16'].fillna(train['VAR16'].mean())

train1['VAR17'] = train['VAR2'].fillna(0)

In [774]:
# train1.isnull().sum()

In [775]:
target = targets.copy()
j=0
# target=[]
for i in range(targets.shape[0]):
    if targets[i] == 'High':
        target[j] = 1
    elif targets[i] == 'Medium':
        target[j] = 0
    elif targets[i] == 'Low':
        target[j] = -1
    j+=1
# target=target.astype(‘int’)  
# target
# targets.unique()

In [776]:
# train1.dtypes

In [777]:
# train1.VAR14.unique()

In [778]:
train1["VAR14"] = train1["VAR14"].apply(lambda x: int(x) if x!="." else 1)

# for i in range(train1.VAR14.shape[0]):
#     if train1.VAR14[i] == '.':
#         train1.VAR14[i] = '1'

In [779]:
# train1.VAR14.unique()

In [780]:
import numpy as np
from sklearn.model_selection import train_test_split

# train1 = train1.toarray()
X_train,X_test,y_train,y_test = train_test_split(train1.values,target.values,test_size=0.2)
print(X_train.shape,X_test.shape)
# X_train[0]

(27200, 19) (6800, 19)

In [781]:
# train1.drop(['VAR21','VAR1'], 1, inplace=True)

# import seaborn as sns
# print(train1.corr())

In [782]:
y_train = np.asarray(y_train,dtype=np.float64)
y_test = np.asarray(y_test,dtype=np.float64)

In [783]:
train1 = np.asarray(train1.values,dtype=np.float64)
target = np.asarray(target.values,dtype=np.float64)

In [784]:

from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, target)
predictions_LR = logisticRegr.predict(X_test)

from sklearn.metrics import confusion_matrix
cm_LR = confusion_matrix(target, predictions_LR)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions_LR))

c:\users\sarthak\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\sarthak\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.5511176470588235

In [785]:
from sklearn.neural_network import MLPClassifier
neural_network = MLPClassifier(solver='adam', alpha=0.0001, hidden_layer_sizes=(7, 7), random_state=1)
neural_network.fit(X_train, y_train)
predictions_NN = neural_network.predict(X_test)

#Confusion Matrix 
cm_NN = confusion_matrix(y_test, predictions_NN)
print(accuracy_score(y_test, predictions_NN))

0.5597058823529412

c:\users\sarthak\appdata\local\programs\python\python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [786]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100,  criterion="gini", max_depth=100, random_state=0)

# rf.fit(train1,target)
# predictions_RF = rf.predict(train1)

# cm_RF = confusion_matrix(target, predictions_RF)
# print(accuracy_score(target, predictions_RF))

rf.fit(X_train, y_train)
predictions_RF = rf.predict(X_test)

#Confusion Matrix 
cm_RF = confusion_matrix(y_test, predictions_RF)
print(accuracy_score(y_test, predictions_RF))

0.5651470588235294

In [584]:
# from sklearn.naive_bayes import MultinomialNB
# multi_naive_bayes = MultinomialNB()
# multi_naive_bayes.fit(X_train, y_train)
# predictions_MNB = multi_naive_bayes.predict(X_test)

# #Confusion Matrix 
# cm_MNB = confusion_matrix(y_test, predictions_MNB)
# print(accuracy_score(y_test, predictions_MNB))

In [585]:
# from sklearn.metrics import f1_score

In [738]:
from sklearn.svm import LinearSVC

svc = LinearSVC(dual=False)
svc.fit(X_train, y_train)
predictions_SVC = svc.predict(X_test)

#Confusion Matrix 
cm_SVC = confusion_matrix(y_test, predictions_SVC)
print(accuracy_score(y_test, predictions_SVC))

0.5438235294117647

In [509]:
# from keras.models import Sequential
# from keras.layers import Dense, Activation, Dropout

# model = Sequential()
# model.add(Dense(12, input_dim=19, activation='relu'))
# model.add(Dense(8, activation='relu'))
# model.add(Dense(1, activation='sigmoid'))

# model.compile(loss='mse', optimizer='nadam', metrics=['accuracy'])

# model.fit(X_train, y_train, epochs=4, batch_size=10)
# _, accuracy = model.evaluate(X_test, y_test)
# print('Accuracy: %.2f' % (accuracy*100))

In [510]:
# from keras.layers import Embedding

# model1=Sequential()
# model1.add(Embedding(2000,100,mask_zero=True))
# model1.add(LSTM(64,return_sequences=True))
# model1.add(LSTM(32,return_sequences=False))
# model1.add(Dense(1,activation='softmax'))
# # model1.compile(loss='categorical_crossentropy',optimizer=Adam(lr=0.001),metrics=['accuracy'])

# # model = build_model()
# model1.compile(loss="binary_crossentropy", optimizer="nadam", metrics=["acc"])
# model1.fit(X_train, y_train, epochs=2, batch_size=100)
# _, accuracy = model1.evaluate(X_test, y_test)
# print('Accuracy: %.2f' % (accuracy*100))

In [788]:
from xgboost import XGBClassifier
XG = XGBClassifier(
                  max_depth = 4,
                  min_child_weight = 2,
                  gamma=0.2,
                  subsample=1,
                  colsample_bytree =0.6,
                  learning_rate =0.1,
                  n_estimators=100,
                  objective= 'binary:logistic',
                  nthread=6,
                  scale_pos_weight=1)

# XG.fit(train1, target)
XG.fit(X_train, y_train)

predictions = XG.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
#print("F1_score: {}".format(f1_score(y_test,predictions)))

Accuracy: 57.31%

In [789]:
# print("F1_score: {}".format(f1_score(y_test,predictions,labels=[0,1,2],average="micro")))

In [790]:
test1 = pd.read_csv('leaderboard_dataset.csv')
test1.head()

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20
0,1,878.823529,0.833333,821.428571,620.835806,5.181818,0.833974,197.500187,NaN,58.632548,9.433609,40.033361,10.000000,2,10.000000,1.212784,1000.00,1,0,48.099828
1,2,891.764706,0.138889,357.142857,614.092215,3.909091,0.595187,197.016843,253.896073,58.632548,10.144612,NaN,5.666667,1,7.600000,1.004907,992.55,0,0,104.018933
2,3,955.294118,0.055556,NaN,611.574748,6.363636,0.918652,197.660051,22.086661,NaN,0.583494,NaN,6.000000,1,6.000000,1.157115,NaN,1,1,120.586919
3,4,831.764706,0.111111,250.000000,617.740617,6.545455,2.383924,200.526288,NaN,48.539365,NaN,NaN,NaN,3,NaN,2.350858,NaN,0,1,168.592083
4,5,957.647059,0.166667,NaN,623.426802,NaN,0.711240,197.151458,5.013668,49.379748,0.255712,NaN,13.333333,1,13.333333,1.171551,NaN,0,1,109.204819

In [791]:
test1.drop(['VAR1'], 1, inplace=True)
test1.isnull().sum()

VAR2      267
VAR3      937
VAR4     3686
VAR5        0
VAR6     1058
VAR7      215
VAR8      215
VAR9     4701
VAR10    1348
VAR11    2231
VAR12    3201
VAR13    2493
VAR14       0
VAR15    2359
VAR16     229
VAR17    6543
VAR18       0
VAR19       0
VAR20       0
dtype: int64

In [792]:
test1['VAR2'] = test1['VAR2'].fillna(train['VAR2'].median())
test1['VAR3'] = test1['VAR3'].fillna(train['VAR3'].median())
test1['VAR4'] = test1['VAR4'].fillna(train['VAR4'].median())
# train1['VAR5'] = train['VAR5'].fillna(train['VAR5'].mean())
test1['VAR6'] = test1['VAR6'].fillna(train['VAR6'].median())
test1['VAR7'] = test1['VAR7'].fillna(train['VAR7'].median())
test1['VAR8'] = test1['VAR8'].fillna(train['VAR8'].median())
test1['VAR9'] = test1['VAR9'].fillna(train['VAR9'].median())
test1['VAR10'] = test1['VAR10'].fillna(train['VAR10'].median())
test1['VAR11'] = test1['VAR11'].fillna(train['VAR11'].median())
test1['VAR12'] = test1['VAR12'].fillna(train['VAR12'].median())
test1['VAR13'] = test1['VAR13'].fillna(train['VAR13'].median())
test1['VAR15'] = test1['VAR15'].fillna(train['VAR15'].median())
test1['VAR16'] = test1['VAR16'].fillna(train['VAR16'].median())

test1['VAR17'] = test1['VAR2'].fillna(0)

In [793]:
test1["VAR14"] = test1["VAR14"].apply(lambda x: int(x) if x!="." else 1)

# for i in range(test1.VAR14.shape[0]):
#     if test1.VAR14[i] == '.':
#         test1.VAR14[i] = '1'

In [794]:
test1 = np.asarray(test1.values,dtype=np.float64)

In [795]:
predictions = XG.predict(test1)
print(predictions)

[ 0. -1.  0. ...  0.  0.  0.]

In [796]:
import io

count=1
with io.open('Sting_IITKanpur_2.csv', 'w') as writeFile:
    
    for i in predictions:
        if i==-1:
            writeFile.write(str(count)+',Low,\n')
        elif i==0:
            writeFile.write(str(count)+',Medium,\n')
        elif i==1:
            writeFile.write(str(count)+',High,\n')
        count+=1

            
writeFile.close()

Accuracy: 58.53%